
.input_inv {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  border-radius: 8px;
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background: #073471;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #714407;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  /*color: #073471;*/
  background: #404851;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #073471;
  cursor: pointer;
}
.tab-close:hover {
  background: #714407;
}

input:checked + .tab-label {
  background: #714407;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 5000vh;
  padding: 1em;
}
