{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <ul class="posts-list">
      {{ range where .Paginator.Pages "Type" "!=" "page" }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
            {{ .PublishDate.Format "Jan 2, 2006" }}
            ~

            {{ .ReadingTime }} min read
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}

          </span>
          <div>{{ .Summary }}
          <a class="tag" href="{{ .Permalink }}">Read more</a>
          </div>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
